
@{
    ViewData["Title"] = "Invoice List";
}

<div class="content d-flex flex-column flex-column-fluid fs-6" id="kt_content">
						<!--begin::Container-->
	<div class="container" id="kt_content_container">
		<div class="row">
			<div class="col-6">
				<h2 class="text-primary">Invoice List </h2>
			</div>
			<div class="col-6 text-right">
				<a class="btn btn-primary" onclick="AddInvoice()"><i class="fas fa-plus"></i> &nbsp; Add New Order</a>
			</div>
		</div>
		<hr />
	<!--begin::Table-->
		<div class="table-responsive">
					<table class="table align-middle table-row-bordered table-row-dashed gy-5" id="kt_table_widget_1">
							<thead>
								<tr class="text-start text-gray-400 fw-boldest fs-7 text-uppercase">
									@*<th class="w-20px ps-0">
											<div class="form-check form-check-sm form-check-custom form-check-solid me-5">
												<input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_table_widget_1 .form-check-input" value="1" />
											</div>
									</th>*@
										<th class="min-w-125px px-0">Invoice Number</th>
										<th class="min-w-200px">Customer Name</th>
										<th class="min-w-70px">Branch</th>
										<th class="min-w-125px">Cashier Name</th>
										<th class="min-w-125px">Items</th>
										<th class="min-w-70px">Total Price</th>
										<th class="text-center min-w-125px">Action</th>
								</tr>	
							</thead>							<!--begin::Table body-->
							<tbody>
																<!--begin::Table row-->
											
							
									
						</tbody>
															<!--end::Table body-->
					</table>
		</div>


<!-- Sign Up Modal Add Item to invoice -->

        <div id="modal-Item"
             class="modal fade"
             tabindex="-1"
             role="dialog"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Invoice Item</h5>
                        <button type="button" class="btn close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <form id="AddItem" method="post">
                    <div class="modal-body">
                        <div class="px-5">
                            
                                    <input name="invoiceHeaderId" id="invoiceHeaderId"  type="hidden">
                                    <input name="id" id="id" type="hidden">

                                      <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Item Name</label>
                                                    <input name="itemName" type="text" class="form-control" maxlength="200" Required id="itemName" placeholder="Item Name">

                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Item Count</label>
                                                    <input name="itemCount" type="number" min="1" class="form-control" Required id="itemCount" placeholder="Item Count">

                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Item price</label>
                                                    <input name="itemPrice" type="text" min="1" class="form-control" Required id="itemPrice" placeholder="Item Price">

                                                </div>
                                            </div>
                                          

                                            </div>
                                                                                   
                                           

                             

                        </div>
                    </div> <!-- // END .modal-body -->
                    <div class="modal-footer">
                        <button  id="certSave" onclick="AddItemPost()" class="btn btn-primary">Update</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                     </div>
                     </form>
                </div> <!-- // END .modal-content -->
            </div> <!-- // END .modal-dialog -->
        </div> 
<!-- // END .modal -->
        <!-- Sign Up Modal Add Invoice Header Data-->
        <div id="modal-Invoice"
             class="modal fade"
             tabindex="-1"
             role="dialog"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Invoice</h5>
                        <button type="button" class="btn close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <form id="AddInvoice" method="post">
                    <div class="modal-body">
                        <div class="px-5">
                                    <input name="id" id="id" type="hidden">

                                      <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Customer Name</label>
                                                    <input name="customerName" type="text" class="form-control" maxlength="200" Required id="itemName" placeholder="Item Name">

                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                     <label  class="control-label">Branch</label>
                                                     <select name="branchId" class ="form-control" onchange="onBranchChange()" id="BranchList">
                                                         <option value="">- اختر الفرع -</option>
                                                     </select>
                                                          
                                                 </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label  class="control-label">Cashier</label>
                                                    <select name="CashierId"  class="form-control" id="CashierList">
                                                        <option value="">- اخترالكاشير -</option>
                                                    </select>
                                            </div>
                                          
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                        <label  class="control-label">Invoice Date</label>
                                                        <input name="Invoicedate" type="date" id="datePicker" required  class="form-control date-picker"/>
      
                                                  </div>
                                             </div>
                                   </div>
                                                                                   
                                           

                             

                        </div>
                    </div> <!-- // END .modal-body -->
                    <div class="modal-footer">
                        <button  id="certSave" onclick="AddInvoicePost()" class="btn btn-primary">Add</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                     </div>
                     </form>
                </div> <!-- // END .modal-content -->
            </div> <!-- // END .modal-dialog -->
        </div> <!-- // END .modal -->
@section Scripts{

    <script src="~/js/invoice.js"></script>

}